
@import 
url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    border:1px solid grey;
  }
  

 .plan{
     border-radius:10px;
     background-color: #FF764E;
 }   

 .learn{
    border-radius:10px;
    background-color: #5ED3EB;
}   

.involved{
    border-radius:10px;
    background-color: #FFCD69;
}   


  html{
    font-size:62.5%; 
  }

  .mountains{
    width:20%;
    display:inline-block;
    margin: 10%; 
    margin: 0 auto;
    border-radius:140px;
    }

.intro{
    width:50%;
    display:inline-block;
}




.bottompic{
    
    
}

.bottomnav{
    background-color:#F9E7DC;

}

.fire img{
    width: 20%; 
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
}

.bus img{
    width: 20%; 
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
}

p{
    font-family:  Roboto Mono;
}

p .fire{
  
}